body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.CharOverride-1 {
	font-family:"Poppins ExtraBold", sans-serif;
	font-size:231px;
	font-style:italic;
	font-variant:normal;
	font-weight:800;
	text-transform:uppercase;
}
span.CharOverride-2 {
	color:#ffffff;
	font-family:"Poppins ExtraBold", sans-serif;
	font-size:231px;
	font-style:italic;
	font-variant:normal;
	font-weight:800;
	text-transform:uppercase;
}
span.CharOverride-3 {
	color:#ffffff;
	font-family:"Poppins ExtraBold", sans-serif;
	font-size:62px;
	font-style:italic;
	font-variant:normal;
	font-weight:800;
	text-transform:uppercase;
}
span.CharOverride-4 {
	color:#ffffff;
	font-family:"Billion Dreams", sans-serif;
	font-size:196px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	display:inline-block;
	height:800px;
	width:1280px;
}
#_idContainer001 {
	display:inline-block;
	height:390px;
	position:relative;
	width:1280px;
}
#_idContainer005 {
	display:inline-block;
	height:800px;
	width:527px;
}
#_idContainer007 {
	-ms-transform:translate(0.000px,30.788px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,30.788px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:77.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,30.788px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,30.788px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:102.90px;
	z-index:18;
}
#_idContainer008 {
	-ms-transform:translate(48.843px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(48.843px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:45.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(48.843px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(48.843px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:51.61px;
	z-index:28;
}
#_idContainer009 {
	-ms-transform:translate(55.861px,34.936px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(55.861px,34.936px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(55.861px,34.936px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(55.861px,34.936px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:25.38px;
	z-index:20;
}
#_idContainer010 {
	-ms-transform:translate(62.054px,68.993px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(62.054px,68.993px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(62.054px,68.993px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(62.054px,68.993px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:24.94px;
	z-index:22;
}
#_idContainer011 {
	-ms-transform:translate(67.670px,26.350px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(67.670px,26.350px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(67.670px,26.350px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(67.670px,26.350px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:29;
}
#_idContainer012 {
	-ms-transform:translate(70.846px,42.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(70.846px,42.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(70.846px,42.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(70.846px,42.637px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:8.02px;
	z-index:26;
}
#_idContainer013 {
	-ms-transform:translate(77.399px,47.315px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(77.399px,47.315px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.399px,47.315px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(77.399px,47.315px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.99px;
	z-index:25;
}
#_idContainer014 {
	-ms-transform:translate(77.344px,48.919px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(77.344px,48.919px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.344px,48.919px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(77.344px,48.919px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.06px;
	z-index:24;
}
#_idContainer015 {
	-ms-transform:translate(78.690px,64.837px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(78.690px,64.837px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(78.690px,64.837px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(78.690px,64.837px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:5.74px;
	z-index:21;
}
#_idContainer016 {
	-ms-transform:translate(79.079px,45.789px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(79.079px,45.789px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(79.079px,45.789px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(79.079px,45.789px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.24px;
	z-index:23;
}
#_idContainer017 {
	-ms-transform:translate(79.433px,45.780px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(79.433px,45.780px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.17px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(79.433px,45.780px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(79.433px,45.780px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.27px;
	z-index:27;
}
#_idContainer018 {
	-ms-transform:translate(85.458px,87.698px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(85.458px,87.698px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(85.458px,87.698px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(85.458px,87.698px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.47px;
	z-index:19;
}
#_idContainer019 {
	-ms-transform:translate(103.049px,87.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(103.049px,87.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.15px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(103.049px,87.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(103.049px,87.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:5.88px;
	z-index:10;
}
#_idContainer020 {
	-ms-transform:translate(103.166px,45.920px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(103.166px,45.920px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.12px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(103.166px,45.920px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(103.166px,45.920px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:23.15px;
	z-index:7;
}
#_idContainer021 {
	-ms-transform:translate(114.719px,87.434px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(114.719px,87.434px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(114.719px,87.434px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(114.719px,87.434px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.45px;
	z-index:6;
}
#_idContainer022 {
	-ms-transform:translate(114.861px,87.577px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(114.861px,87.577px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.17px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(114.861px,87.577px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(114.861px,87.577px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.17px;
	z-index:11;
}
#_idContainer023 {
	-ms-transform:translate(125.882px,45.920px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(125.882px,45.920px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(125.882px,45.920px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(125.882px,45.920px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:35.55px;
	z-index:8;
}
#_idContainer024 {
	-ms-transform:translate(127.993px,87.413px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(127.993px,87.413px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(127.993px,87.413px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(127.993px,87.413px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:6.10px;
	z-index:5;
}
#_idContainer025 {
	-ms-transform:translate(128.136px,87.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(128.136px,87.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(128.136px,87.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(128.136px,87.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:5.81px;
	z-index:12;
}
#_idContainer026 {
	-ms-transform:translate(139.627px,87.413px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(139.627px,87.413px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(139.627px,87.413px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(139.627px,87.413px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:6.00px;
	z-index:4;
}
#_idContainer027 {
	-ms-transform:translate(139.770px,87.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(139.770px,87.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.15px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(139.770px,87.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(139.770px,87.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:5.72px;
	z-index:13;
}
#_idContainer028 {
	-ms-transform:translate(151.160px,87.413px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(151.160px,87.413px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(151.160px,87.413px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(151.160px,87.413px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.99px;
	z-index:0;
}
#_idContainer029 {
	-ms-transform:translate(151.302px,87.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(151.302px,87.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.15px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(151.302px,87.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(151.302px,87.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.70px;
	z-index:14;
}
#_idContainer030 {
	-ms-transform:translate(154.825px,46.543px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(154.825px,46.543px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(154.825px,46.543px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(154.825px,46.543px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:65.94px;
	z-index:9;
}
#_idContainer031 {
	-ms-transform:translate(157.976px,87.434px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(157.976px,87.434px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(157.976px,87.434px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(157.976px,87.434px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.45px;
	z-index:1;
}
#_idContainer032 {
	-ms-transform:translate(158.119px,87.577px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(158.119px,87.577px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(158.119px,87.577px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(158.119px,87.577px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:7.17px;
	z-index:15;
}
#_idContainer033 {
	-ms-transform:translate(171.252px,87.413px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(171.252px,87.413px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(171.252px,87.413px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(171.252px,87.413px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:6.10px;
	z-index:2;
}
#_idContainer034 {
	-ms-transform:translate(171.394px,87.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(171.394px,87.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(171.394px,87.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(171.394px,87.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:5.81px;
	z-index:16;
}
#_idContainer035 {
	-ms-transform:translate(183.408px,87.413px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(183.408px,87.413px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(183.408px,87.413px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(183.408px,87.413px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:5.54px;
	z-index:3;
}
#_idContainer036 {
	-ms-transform:translate(183.551px,87.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(183.551px,87.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.15px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(183.551px,87.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(183.551px,87.555px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:5.25px;
	z-index:17;
}
#_idContainer037 {
	display:inline-block;
	height:108px;
	position:relative;
	width:221px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#d86bbc;
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	background-color:#ffffff;
	border-width:0px;
}
div._idGenObjectStyleOverride-4 {
	background-color:#ffffff;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
